<!DOCTYPE html>

<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<title>{% if page.title %}{{ page.title }}, {% endif %}{{ site.name }} {{ site.description }}</title>

<meta name="author" content="{{ site.name }}" />
<meta name="description" content="{{ site.description }}">

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<aside class="aside-left">

  <center>
    <a href="{{ site.baseurl }}/index.html" style="font-size: 22px">./surajkawade</a>
  </center>

  <br>

  <center><a href="http://twitter.com/surajkawade"><i class="fa fa-twitter"></i></a>
    <a href="http://github.com/surajkawade"><i class="fa fa-github"></i></a>
    <a href="http://in.linkedin.com/in/surajkawade/"><i class="fa fa-linkedin"></i>
  </center>

  <br>

  <center style="font-size: 16px">
    <a href="{{ site.baseurl }}/">foss blog</a><br>
    <a href="{{ site.baseurl }}/">random</a><br>
  </center>

  <br>

  <center>
    <a href="https://internetdefenseleague.org"><img class="idl" src="https://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Member of The Internet Defense League"/></a><br>
    <!--
    <a href="http://demandprogress.org"><img class="dp" src="http://upload.wikimedia.org/wikipedia/en/c/cb/Demand-Progress-Logo.png" alt="Demand Progress"/></a>-->
  </center>

  <center id="copyleft">
    <a href="http://www.gnu.org/copyleft/" target="_blank">&copy;</a><!-- &#x2184;&#x20DD;  COPYLEFT   -->
  </center>

  <center style="font-size: 12px">
    copyleft<br>all wrongs reserved
  </center>

</aside>

<body>
  
  <article>
  <div id="main" role="main" class="container">
      {{ content }}
  </div>
  </article>

  {% include analytics.html %}
</body>